<!-- Arena tarik tambang: tali, dua tim, simpul -->
<div class="absolute left-0 top-1/2 w-full h-[220px] z-[5] -translate-y-[40%] pointer-events-none">
  <div class="ground-shadow absolute left-0 bottom-[18px] w-full h-[34px]"></div>
  <div class="rope absolute top-1/2 left-[-5%] w-[110%] h-[9px] -translate-y-1/2 rounded-md"></div>
  <div id="teamL" class="team left absolute top-1/2 flex items-center z-[6]"></div>
  <div id="knot" class="knot absolute top-1/2 left-1/2 w-[30px] h-[30px] -translate-x-1/2 -translate-y-1/2 z-[7]"></div>
  <div id="teamR" class="team right absolute top-1/2 flex items-center z-[6]"></div>
</div>
